In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import time
import json
import os
import ssl
import json
import re
import urllib.request

In [2]:
API_KEY = 'AIzaSyBEPCGjOn064Nl9g_bQGCowQqO5leNoTxA'

In [3]:
def get_distance_API(key, tp_origin, tp_destination):
    API_key = key
    origin = tp_origin
    destination = tp_destination
    mode  = "transit"
    departure_time  = "now"
    url = "https://maps.googleapis.com/maps/api/directions/json?origin=" + str(origin[0]) + ',' + str(origin[1]) + "&destination=" + str(destination[0]) + ',' + str(destination[1]) + "&mode=" + mode + "&departure_time=" + departure_time+ "&language=ko"+ "&key=" + API_key
    try:
        request = urllib.request.Request(url)
        context = ssl._create_unverified_context()
        response = urllib.request.urlopen(request, context = context)
        responseText = response.read().decode('utf-8')
        responseJson = json.loads(responseText)
        response = dict(responseJson)
        path = response["routes"][0]["legs"][0]
        distance_km = path["distance"]["text"]
        return distance_km
    except Exception:
        print('Error')
        return "Error"

In [4]:
excel = []

for i in os.listdir():
    if i.endswith('xlsx'):
        excel.append(i)

print(excel)

['좌표_최종_용신동.xlsx', 'Distance_Matrix.xlsx', '용신동 공공시설.xlsx', 'Test_Distance_Matrix.xlsx']

In [5]:
public = pd.read_excel(excel[2]).iloc[:,:3]
blocks = pd.read_excel(excel[0])

print(public.head())
print('\n', public.shape)
print(blocks.head())
print('\n', blocks.shape)

                 이름                          주소                         좌표
0             동대문구청      서울 동대문구 천호대로 145 동대문구청  (37.5742015, 127.0398327)
1          용신동 주민센터  서울 동대문구 천호대로27길 35 용신동주민센터  (37.5757574, 127.0372689)
2         신설동 공영주차장             동대문구 신설동 114-29  (37.5724742, 127.0242281)
3        청계8노상공영주차장          서울 동대문구 신설동 100-21  (37.5712587, 127.0257586)
4  용두동 청계 노상 공영 주차장           서울 동대문구 청계천로5길 40  (37.5724181, 127.0277008)

 (7, 3)
    택배 착지량       x       y          경도         위도
0  4855237  315559  552770  127.041864  37.573378
1  2424078  315662  553218  127.042771  37.577237
2  4861948  314971  552836  127.035218  37.573934
3  4853658  315506  552788  127.041310  37.573507
4  4857067  315676  552907  127.043136  37.574611

 (342, 5)

In [6]:
blocks['좌표'] = ''

for index, value in enumerate(blocks.itertuples()):
    blocks.at[index, '좌표'] = [value[-2], value[-3]]
blocks

,택배 착지량,x,y,경도,위도,좌표
0,4855237,315559,552770,127.041864,37.573378,"[37.57337759, 127.0418638]"
1,2424078,315662,553218,127.042771,37.577237,"[37.57723688, 127.0427706]"
2,4861948,314971,552836,127.035218,37.573934,"[37.57393398, 127.035218]"
3,4853658,315506,552788,127.041310,37.573507,"[37.57350663, 127.0413097]"
4,4857067,315676,552907,127.043136,37.574611,"[37.57461102, 127.0431357]"
...,...,...,...,...,...,...
337,4860284,314295,552695,127.027532,37.572632,"[37.57263167, 127.0275319]"
338,4852854,314419,552882,127.028958,37.574268,"[37.57426787, 127.0289582]"
339,4853307,314137,552656,127.025832,37.572169,"[37.57216892, 127.0258318]"
340,4852914,314363,552745,127.028206,37.573036,"[37.57303622, 127.0282061]"
341,4858594,314132,552804,127.025584,37.573504,"[37.57350409, 127.0255843]"

In [7]:
for row_index, row in enumerate(public.itertuples()):
    public.iloc[row_index, -1] = row[-1].replace('(', '').replace(')', '').split(', ')
public

                 이름                          주소                         좌표
0             동대문구청      서울 동대문구 천호대로 145 동대문구청  [37.5742015, 127.0398327]
1          용신동 주민센터  서울 동대문구 천호대로27길 35 용신동주민센터  [37.5757574, 127.0372689]
2         신설동 공영주차장             동대문구 신설동 114-29  [37.5724742, 127.0242281]
3        청계8노상공영주차장          서울 동대문구 신설동 100-21  [37.5712587, 127.0257586]
4  용두동 청계 노상 공영 주차장           서울 동대문구 청계천로5길 40  [37.5724181, 127.0277008]
5   서울특별시교육청 동대문도서관    서울 동대문구 천호대로4길 22 동대문도서관  [37.5735971, 127.0243719]
6     용두 어린이 영어 도서관             서울 동대문구 무학로 133  [37.5760752, 127.0303012]

In [8]:
names = public['이름']
final_df = pd.DataFrame(columns = names)

In [9]:
for i, name in enumerate(tqdm(names)):
    for index, value in enumerate(blocks.itertuples()):
        final_df.at[index, name] = get_distance_API(API_KEY, public.iloc[i, -1], blocks.iloc[index, -1])
        
final_df

 57%|█████▋    | 4/7 [09:20<07:01, 140.35s/it]

Error
Error

100%|██████████| 7/7 [15:57<00:00, 136.86s/it]

이름,동대문구청,용신동 주민센터,신설동 공영주차장,청계8노상공영주차장,용두동 청계 노상 공영 주차장,서울특별시교육청 동대문도서관,용두 어린이 영어 도서관
0,0.7 km,0.6 km,1.8 km,1.9 km,1.3 km,1.7 km,1.2 km
1,2.6 km,2.4 km,2.2 km,2.2 km,2.0 km,2.0 km,1.4 km
2,1.0 km,0.9 km,1.6 km,1.7 km,1.0 km,1.4 km,1.0 km
3,0.6 km,0.6 km,1.8 km,1.9 km,1.2 km,1.6 km,1.2 km
4,0.8 km,0.8 km,1.9 km,2.1 km,1.4 km,1.8 km,1.4 km
...,...,...,...,...,...,...,...
337,1.6 km,1.7 km,0.7 km,0.8 km,1.1 km,1.2 km,0.6 km
338,1.0 km,1.3 km,1.2 km,1.3 km,0.9 km,1.0 km,0.6 km
339,1.6 km,1.7 km,0.6 km,0.7 km,1.1 km,0.7 km,1.0 km
340,1.1 km,1.2 km,0.8 km,0.7 km,0.8 km,1.1 km,0.6 km
341,1.4 km,1.6 km,0.7 km,0.8 km,1.0 km,0.9 km,0.9 km

In [10]:
final_df.to_excel('Distance_Matrix.xlsx')

In [11]:
error_index = [115, 262]
error_df = pd.DataFrame(columns = names)

for i, name in enumerate(tqdm(names)):
    error_df.at[index, name] = get_distance_API(API_KEY, public.iloc[i, -1], blocks.iloc[115, -1])
        
error_df

100%|██████████| 7/7 [00:03<00:00,  2.03it/s]

이름,동대문구청,용신동 주민센터,신설동 공영주차장,청계8노상공영주차장,용두동 청계 노상 공영 주차장,서울특별시교육청 동대문도서관,용두 어린이 영어 도서관
341,1.0 km,0.8 km,1.1 km,1.3 km,0.9 km,1.0 km,0.6 km

In [12]:
error_index = [115, 262]
error_df = pd.DataFrame(columns = names)

for i, name in enumerate(tqdm(names)):
    error_df.at[index, name] = get_distance_API(API_KEY, public.iloc[i, -1], blocks.iloc[262, -1])
        
error_df

100%|██████████| 7/7 [00:02<00:00,  2.67it/s]

이름,동대문구청,용신동 주민센터,신설동 공영주차장,청계8노상공영주차장,용두동 청계 노상 공영 주차장,서울특별시교육청 동대문도서관,용두 어린이 영어 도서관
341,1.0 km,1.4 km,0.9 km,1.3 km,1.1 km,1.1 km,0.7 km