In [6]:
import os

files = []

for i in os.listdir():
    if i.endswith('.xlsx'):
        files.append(i)

print(files)

['전처리(22.04.03).xlsx', '전처리(22.04.09).xlsx', '동선정(선형회귀)_train100%.xlsx', 'Preprocessed.xlsx', 'result.xlsx']

In [7]:
import pandas as pd

first = pd.read_excel(files[2])

In [8]:
first.columns

Index([         'Unnamed: 0',                 '자치구',                   '동',
                      '1인세대',                '2인세대',         '택배착지량점수(구별)',
         '서울 2030 여성 1인가구 수',            '범죄발생(구별)',            '지하철 승객 수',
                   '버스 승객 수',        '방범용 CCTV(구별)',              '안심택배함수',
                      '인구밀도',             '20~50인구',                '여성인구',
               '위험경험 비율(구별)',               '다가구주택',                 '아파트',
                     '다세대주택',               '주차장 수', '여성 안심 스카우트 이용실적(구별)',
                  '길단위 상존인구',           '건물단위 상존인구',               '주거 인구',
                     '직장 인구',                     0,               'error',
                       'sum'],
      dtype='object')

In [9]:
full_error = first['sum']

In [10]:
csvs = []

for i in os.listdir():
    if i.endswith('.csv'):
        csvs.append(i)
        
csvs

['CCTV_Full.csv',
 '서울특별시 (안심이) CCTV 설치 현황.csv',
 'Final_result.csv',
 'allllll.csv',
 'final_full.csv',
 'final_part.csv',
 'The number of CCTV.csv',
 'Full_PCA.csv',
 'CCTV_location.csv']

In [13]:
second = pd.read_csv(csvs[2], encoding = 'cp949')
second

    Unnamed: 0     동   오차_part   오차_full       sum
0            0   군자동 -1.028131 -1.016802 -2.044932
1            1  중곡2동 -1.056503       NaN -1.056503
2            2   용신동 -1.057446 -1.096107 -2.153553
3            3   신촌동 -1.448973 -1.256772 -2.705745
4            4  가양1동 -1.139688 -1.059122 -2.198810
5            5  화곡1동 -1.024133 -1.095189 -2.119322
6            6   행운동 -1.388651 -1.268307 -2.656958
7            7  낙성대동 -1.031429 -1.008465 -2.039894
8            8   신원동 -1.013439 -1.061842 -2.075280
9            9  잠실본동 -1.057197 -1.089014 -2.146211
10          10  수유3동       NaN -1.114767 -1.114767
11          11  화곡본동       NaN -1.093569 -1.093569
12          12  상도4동       NaN -1.033364 -1.033364
13          13  방이2동       NaN -1.021399 -1.021399

In [14]:
data = pd.merge(first, second, on = '동', how = 'inner')
data

,Unnamed: 0_x,자치구,동,1인세대,2인세대,택배착지량점수(구별),서울 2030 여성 1인가구 수,범죄발생(구별),지하철 승객 수,버스 승객 수,...,건물단위 상존인구,주거 인구,직장 인구,0,error,sum_x,Unnamed: 0_y,오차_part,오차_full,sum_y
0,204,서대문구,신촌동,10947,1570,3.500000,4193.0,210.214286,2303134,2860529,...,112255,303,31,1.482105,1.482105,2.964209,3,-1.448973,-1.256772,-2.705745
1,321,관악구,행운동,11530,2945,4.095238,3371.0,253.714286,0,1196692,...,170471,480,105,1.374908,1.374908,2.749816,6,-1.388651,-1.268307,-2.656958
2,84,동대문구,용신동,12046,3294,3.714286,1881.0,150.714286,2597297,2369781,...,140709,356,94,1.240060,1.240060,2.480119,2,-1.057446,-1.096107,-2.153553
3,399,송파구,잠실본동,8786,3017,5.074074,2024.0,211.037037,474446,774898,...,112303,232,52,1.175714,1.175714,2.351427,9,-1.057197,-1.089014,-2.146211
4,258,강서구,화곡1동,14378,6396,5.750000,2437.0,246.200000,3869350,1390821,...,15202,42,6,1.100993,1.100993,2.201986,5,-1.024133,-1.095189,-2.119322
5,327,관악구,신원동,7039,2060,4.095238,1382.0,253.714286,0,211173,...,173271,359,48,1.058103,1.058103,2.116206,8,-1.013439,-1.061842,-2.075280
6,135,강북구,수유3동,7373,2669,2.461538,1216.0,295.230769,0,1570801,...,145945,308,41,1.011510,1.011510,2.023021,10,NaN,-1.114767,-1.114767
7,244,강서구,화곡본동,8414,3892,5.750000,1251.0,246.200000,0,653715,...,193015,428,42,0.976958,0.976958,1.953915,11,NaN,-1.093569,-1.093569
8,322,관악구,낙성대동,8159,1574,4.095238,2277.0,253.714286,0,1176691,...,160704,391,58,0.971438,0.971438,1.942876,7,-1.031429,-1.008465,-2.039894
9,308,동작구,상도4동,6629,3147,4.333333,989.0,226.666667,0,528474,...,134937,379,21,0.966749,0.966749,1.933499,12,NaN,-1.033364,-1.033364
10,66,광진구,군자동,6869,2069,3.733333,1746.0,267.400000,0,645994,...,129390,272,32,0.960048,0.960048,1.920096,0,-1.028131,-1.016802,-2.044932
11,387,송파구,방이2동,9175,2861,5.074074,1861.0,211.037037,356722,510177,...,216546,342,326,0.959300,0.959300,1.918600,13,NaN,-1.021399,-1.021399
12,68,광진구,중곡2동,4961,2531,3.733333,996.0,267.400000,0,450873,...,175926,400,52,0.932953,0.932953,1.865906,1,-1.056503,NaN,-1.056503
13,250,강서구,가양1동,13624,2864,5.750000,4816.0,246.200000,2098522,974510,...,233833,437,36,0.810209,0.810209,1.620419,4,-1.139688,-1.059122,-2.198810

In [16]:
data['final sum'] = ''
data['final sum'] = data['sum_x'] + abs(data['sum_y'])

In [17]:
data['final sum']

0     5.669954
1     5.406775
2     4.633672
3     4.497638
4     4.321308
5     4.191487
6     3.137788
7     3.047484
8     3.982770
9     2.966862
10    3.965028
11    2.939999
12    2.922409
13    3.819229
Name: final sum, dtype: float64

In [18]:
data

,Unnamed: 0_x,자치구,동,1인세대,2인세대,택배착지량점수(구별),서울 2030 여성 1인가구 수,범죄발생(구별),지하철 승객 수,버스 승객 수,...,주거 인구,직장 인구,0,error,sum_x,Unnamed: 0_y,오차_part,오차_full,sum_y,final sum
0,204,서대문구,신촌동,10947,1570,3.500000,4193.0,210.214286,2303134,2860529,...,303,31,1.482105,1.482105,2.964209,3,-1.448973,-1.256772,-2.705745,5.669954
1,321,관악구,행운동,11530,2945,4.095238,3371.0,253.714286,0,1196692,...,480,105,1.374908,1.374908,2.749816,6,-1.388651,-1.268307,-2.656958,5.406775
2,84,동대문구,용신동,12046,3294,3.714286,1881.0,150.714286,2597297,2369781,...,356,94,1.240060,1.240060,2.480119,2,-1.057446,-1.096107,-2.153553,4.633672
3,399,송파구,잠실본동,8786,3017,5.074074,2024.0,211.037037,474446,774898,...,232,52,1.175714,1.175714,2.351427,9,-1.057197,-1.089014,-2.146211,4.497638
4,258,강서구,화곡1동,14378,6396,5.750000,2437.0,246.200000,3869350,1390821,...,42,6,1.100993,1.100993,2.201986,5,-1.024133,-1.095189,-2.119322,4.321308
5,327,관악구,신원동,7039,2060,4.095238,1382.0,253.714286,0,211173,...,359,48,1.058103,1.058103,2.116206,8,-1.013439,-1.061842,-2.075280,4.191487
6,135,강북구,수유3동,7373,2669,2.461538,1216.0,295.230769,0,1570801,...,308,41,1.011510,1.011510,2.023021,10,NaN,-1.114767,-1.114767,3.137788
7,244,강서구,화곡본동,8414,3892,5.750000,1251.0,246.200000,0,653715,...,428,42,0.976958,0.976958,1.953915,11,NaN,-1.093569,-1.093569,3.047484
8,322,관악구,낙성대동,8159,1574,4.095238,2277.0,253.714286,0,1176691,...,391,58,0.971438,0.971438,1.942876,7,-1.031429,-1.008465,-2.039894,3.982770
9,308,동작구,상도4동,6629,3147,4.333333,989.0,226.666667,0,528474,...,379,21,0.966749,0.966749,1.933499,12,NaN,-1.033364,-1.033364,2.966862
10,66,광진구,군자동,6869,2069,3.733333,1746.0,267.400000,0,645994,...,272,32,0.960048,0.960048,1.920096,0,-1.028131,-1.016802,-2.044932,3.965028
11,387,송파구,방이2동,9175,2861,5.074074,1861.0,211.037037,356722,510177,...,342,326,0.959300,0.959300,1.918600,13,NaN,-1.021399,-1.021399,2.939999
12,68,광진구,중곡2동,4961,2531,3.733333,996.0,267.400000,0,450873,...,400,52,0.932953,0.932953,1.865906,1,-1.056503,NaN,-1.056503,2.922409
13,250,강서구,가양1동,13624,2864,5.750000,4816.0,246.200000,2098522,974510,...,437,36,0.810209,0.810209,1.620419,4,-1.139688,-1.059122,-2.198810,3.819229